.mainEvent {
  display: flex;
  flex-direction: column;
}
.mainEvent .eventContainer2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.mainEvent .eventContainer {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  gap: 0.15rem;
}
.mainEvent .eventContainer .eventControllers {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.mainEvent .eventContainer .eventControllers button {
  width: 100%;
  font-size: 14px;
  border-radius: 7px;
  cursor: pointer;
  border: none;
  text-align: center;
}
.mainEvent .eventContainer .fetchImg img {
  height: 12rem;
  width: 24rem;
  border-radius: 7px;
  border: 2px solid;
  margin: 5px 5px;
  padding: 7px;
  background: transparent !important;
}
.mainEvent .eventContainer .eventContent {
  display: grid;
  grid-template-columns: auto auto;
  border-radius: 8px;
  gap: 0.17rem;
  grid-auto-rows: 1fr;
}
.mainEvent .eventContainer .eventContent img {
  height: 2.14rem;
  width: 6rem;
  border-radius: 8px;
}
.mainEvent .eventContainer .eventContent .eventCard {
  display: flex;
  padding: 0.1rem;
  border-radius: 7px;
  height: 2.35rem;
  width: 4.95rem;
  min-width: 4.95rem;
}
.mainEvent .eventContainer .eventContent .eventCard img {
  border-radius: 7px;
  cursor: pointer;
  width: 100%;
}

.socialActions {
  width: 100%;
  height: auto;
  border-radius: 0.1rem;
  padding: 0.2rem;
}
.socialActions .exLinks {
  display: flex;
  padding: 0.2rem;
  align-items: center;
  border-bottom: 1px solid #000;
}
.socialActions .exLinks .label {
  font-size: 0.18rem;
  font-weight: 600;
  width: 1.6rem;
}
.socialActions .exLinks .link {
  display: flex;
  align-items: center;
  border: thin solid #000;
  height: 0.4rem;
  width: 100%;
  padding: 0.15rem;
  border-radius: 15px;
  color: #68707B;
  font-size: 0.18rem;
}
.socialActions .exLinks .exLinkstyle {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.socialActions .exLinks2 {
  display: flex;
  padding: 0.2rem;
  gap: 0.1rem;
  align-items: center;
  border-bottom: thin solid #000;
}
.socialActions .exLinks2 .label {
  font-size: 0.18rem;
  font-weight: 600;
}
.socialActions .exLinks2 .link {
  display: flex;
  align-items: center;
  height: 0.8rem;
  width: 100%;
  padding: 0.2rem;
  border-radius: 0.1rem;
  color: white;
  cursor: pointer;
}
.socialActions .exLinks2 .link .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
  margin-right: 0.1rem;
  width: 0.9rem;
  color: #ADB6C3;
}
.socialActions .exLinks2 .link .icon label {
  font-size: 0.18rem;
}
.socialActions .exLinks2 .link .icon img {
  max-width: 0.42rem;
}
.socialActions .exLinks2 .moreLinks {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.socialActions .exLinks2 .moreLinks .titleWithIcon a {
  display: flex;
  align-items: center;
  justify-content: center;
}
.socialActions .exLinks2 .moreLinks .titleWithIcon a svg {
  height: auto !important;
}
.socialActions .exLinks2 .moreLinks .titleWithIcon a .arrowIconRight {
  width: 0.22rem;
  margin-left: 0.1rem;
  filter: brightness(0) saturate(100%) invert(46%) sepia(9%) saturate(516%) hue-rotate(175deg) brightness(92%) contrast(93%);
}
.socialActions .socialFooter {
  display: flex;
  gap: 10px;
  color: white;
  padding-top: 0.2rem;
  font-size: 0.18rem;
}

.chestContainer {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  padding: 0.2rem;
  border-radius: 0.1rem;
  padding: 0 0.2rem 0.2rem 0.2rem;
}
.chestContainer .chesContainerMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 0.3rem;
  justify-content: center;
}
.chestContainer .chesContainerMain .midArrow {
  width: 100%;
}
.chestContainer .chesContainerMain .midArrow img {
  height: 0.6rem;
  width: 0.6rem;
}
.chestContainer .chesContainerMain .arrowBet {
  rotate: 90deg;
  margin-left: auto;
  margin-top: 2%;
  margin-right: 6.8%;
  width: 0.38rem;
  filter: brightness(0) saturate(100%) invert(46%) sepia(9%) saturate(516%) hue-rotate(175deg) brightness(92%) contrast(93%);
}
.chestContainer .chesContainerMain .arrowBet img {
  height: 0.64rem;
  width: 0.64rem;
}
.chestContainer .chesContainerMain .arrowBet:nth-child(odd) {
  display: flex;
  text-align: end;
}
.chestContainer .chesContainerMain:nth-child(even) .chesContainer {
  display: flex;
  justify-content: right;
  direction: rtl;
  position: relative;
  top: -0.1rem;
}
.chestContainer .chesContainerMain:nth-child(even) .chesContainer .arrowIcon {
  rotate: 180deg;
}
.chestContainer .chesContainerMain:nth-child(even) .arrowBet {
  margin-right: auto;
  margin-top: 2%;
  margin-left: 6.5%;
  width: 0.38rem;
  filter: brightness(0) saturate(100%) invert(46%) sepia(9%) saturate(516%) hue-rotate(175deg) brightness(92%) contrast(93%);
}
.chestContainer .chesContainerMain:nth-child(even) .arrowBet:nth-child(odd) {
  display: flex;
  text-align: end;
  margin-right: 9%;
  height: 0.64rem;
  width: 0.64rem;
}
.chestContainer .chesContainerMain:nth-child(even) .arrowBet img {
  height: 0.64rem;
  width: 0.64rem;
}
.chestContainer .chesContainerMain:last-child .chesContainer {
  justify-content: right;
}
.chestContainer .chesContainerMain:last-child .midArrow {
  display: none;
}
.chestContainer .chesContainerMain .chesContainer {
  display: flex;
  align-items: center;
  width: 100%;
}
.chestContainer .chesContainerMain .chesContainer .arrowIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.91rem;
}
.chestContainer .chesContainerMain .chesContainer .arrowIcon:last-child {
  display: none;
}
.chestContainer .chesContainerMain .chesContainer .arrowIcon img {
  height: 0.64rem;
  width: 0.64rem;
  filter: brightness(0) saturate(100%) invert(46%) sepia(9%) saturate(516%) hue-rotate(175deg) brightness(92%) contrast(93%);
}
.chestContainer .chesContainerMain .chesContainer .chest {
  display: flex;
  position: relative;
  align-items: center;
  gap: 0.1rem;
}
.chestContainer .chesContainerMain .chesContainer .chest .eventChest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: relative;
}
.chestContainer .chesContainerMain .chesContainer .chest .eventChest.opened:hover {
  animation: "none !important";
}
.chestContainer .chesContainerMain .chesContainer .chest .eventChest.closed:hover {
  animation: tilt-shaking 0.15s infinite;
}
.chestContainer .chesContainerMain .chesContainer .chest .eventChest .inviTePerson {
  position: absolute;
  font-size: 0.22rem;
  color: white;
  top: 65%;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  direction: ltr;
}
.chestContainer .chesContainerMain .chesContainer .chest .eventChest .inviteReqard {
  color: #68707b;
  text-align: center;
  font-size: 0.2rem;
}
.chestContainer .chesContainerMain .chesContainer .chest .chestt {
  cursor: pointer;
  width: 2.1rem;
  height: 2.01rem;
}
.chestContainer .chesContainerMain .chesContainer .chest:last-child .arrow {
  display: none;
  width: 0.38rem;
}
.chestContainer .chesContainerMain .chesContainer .chest .arrow {
  width: 0.38rem;
  filter: brightness(0) saturate(100%) invert(46%) sepia(9%) saturate(516%) hue-rotate(175deg) brightness(92%) contrast(93%);
}

.instructionsAct {
  display: flex;
  margin-top: 0.2rem;
  flex-direction: column;
  border-radius: 7px;
  gap: 10px;
  padding: 0.2rem;
  margin-bottom: 0.2rem;
  text-align: justify !important;
}
.instructionsAct .actLabel {
  font-size: 0.2rem;
  font-weight: 600;
}
.instructionsAct .actTime {
  font-size: 0.2rem;
}
.instructionsAct .actText {
  font-size: 0.2rem;
  font-weight: 600;
}
.instructionsAct .actInst {
  line-height: 25px;
  font-size: 0.18rem;
}
.instructionsAct .actInst table {
  width: 100% !important;
  text-align: center;
  border: 1px solid;
}
.instructionsAct .actInst table tbody {
  border: 1px solid !important;
}
.instructionsAct .actInst table tbody tr:last-child {
  border-bottom: none;
}
.instructionsAct .actInst table tbody tr:last-child td {
  border-bottom: none !important;
}
.instructionsAct .actInst table tbody tr td {
  border-bottom: 1px solid;
  border-right: 1px solid;
}
.instructionsAct .actInst table tbody tr td:last-child {
  border-right: none;
}
.instructionsAct .actInst p {
  word-wrap: break-word;
}
.instructionsAct .actInst span {
  white-space: pre-line !important;
}

.questionDiv {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  border-radius: 0.1rem;
  padding: 0.2rem;
  color: white;
}
.questionDiv .top {
  text-align: center;
  font-size: 0.18rem;
}
.questionDiv .mid {
  padding: 0 0.2rem;
  border-radius: 0.1rem;
  margin-top: 0.2rem;
}
.questionDiv .mid .midContent {
  display: flex;
  text-align: center;
  margin-top: 0.2rem;
}
.questionDiv .mid .midContent .left {
  width: 100%;
}
.questionDiv .mid .midContent .right {
  width: 100%;
}

.eventTabledetails {
  margin-top: 0.2rem;
  border-radius: 0.1rem;
  padding: 0.2rem;
}

.recordData {
  margin-top: 0.2rem;
  padding: 1rem;
  border-radius: 7px;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.actMenu {
  display: flex;
  align-items: center;
  font-size: initial;
  margin-bottom: 0.2rem;
  justify-content: space-evenly;
}
.actMenu .right {
  rotate: 180deg;
  cursor: pointer;
}
.actMenu .left {
  cursor: pointer;
}
.actMenu .even {
  display: flex;
  overflow: auto;
  justify-content: flex-start;
}
.actMenu .even .checkContainer {
  overflow: hidden;
  position: relative;
  border-radius: 0.1rem;
  min-width: -moz-fit-content;
  min-width: fit-content;
  height: 100%;
}
.actMenu .even .checkContainer:active {
  scale: 0.97;
}
.actMenu .even .checkContainer .imgCOntianer {
  height: 1.44rem !important;
  width: 2.86rem !important;
  border-radius: 0.1rem !important;
  padding: 0.1rem !important;
}
.actMenu .even .checkContainer .imgCOntianer.active {
  border: 2.5px solid #adb6c3;
}
.actMenu .even .checkContainer .imgCOntianer img {
  height: 100%;
  width: 100%;
  border-radius: 0.1rem !important;
  cursor: pointer;
}
.actMenu .even .checkContainer .badge {
  display: none;
  position: absolute;
  right: 0px;
  bottom: 0;
  padding: 3px;
  rotate: 45deg;
  height: 50px;
  width: 50px;
  margin: -25px;
}
.actMenu .even .checkContainer .badge.active {
  background-color: #f0c059;
  display: block;
}
.actMenu .even .checkContainer .badge .checkIcon {
  color: #874404;
  rotate: -45deg;
  right: 10px;
}
.actMenu .even .checkContainer .badge .MuiAvatar-root {
  top: 11px !important;
  right: 4px !important;
}

.allDetailsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.2rem;
}
.allDetailsContainer .allAct {
  width: 100%;
  height: 1px;
  text-align: center;
  margin: auto;
}
.allDetailsContainer .spanLabel {
  min-width: -moz-max-content;
  min-width: max-content;
  font-size: initial;
}
.allDetailsContainer .spanLabel span {
  font-size: 20px;
  color: #adb6c3;
  padding: 10px;
}

.requestEvent {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.2rem;
  gap: 10px;
}
.requestEvent span {
  color: #adb6c3;
}
.requestEvent button {
  padding: 0.05rem 0.1rem;
  font-size: 0.18rem;
  text-transform: capitalize !important;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 100 !important;
  color: #adb6c3;
}/*# sourceMappingURL=event.css.map */