.faqContainer {
  display: flex;
  gap: 1.5rem;

  .butts {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 10vw;

    button {
      background-color: #121212;
      padding: 20px;
      border-radius: 7px;
      cursor: pointer;
      color: #ADB6C3;
      width: 100%;
      font-size: large;
      border: none;
    }

    .acitveBtn {
      background-color: rgb(240, 184, 63);
      color: rgb(135, 68, 4);
    }

    .notActiveBtn {
      background-color: blue;
    }
  }

  .contents {
    width: 100%;
    color: white;

    .main-content {
      padding: 1rem;
      background-color: #121212;
      border-radius: 7px;

    }
  }
}