.noticeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: fixed;
    top: 20%;
    left: 0;


    .notice {
        position: relative;
        width: 6.9rem;

        img {
            width: 6.5rem;
            height: 5.4rem;
            background-size: 100% 100%;
            border-radius: .2rem;
        }

        .closeIcon {
            position: absolute;
            right: -0.2rem;
            top: -0.3rem;
        }

        .swiper-button-next {
            &::after {
                background-color: #00000078 !important;
                font-size: .20rem !important;
            }
        }

        .swiper-button-prev {
            &::after {
                background-color: #00000078 !important;
                font-size: .22rem !important;
            }
        }
    }

    .swiper-button-disabled {
        opacity: 0 !important;
    }
}

.dontShowContainer {
    background-color: #00000033;
    // padding: 0.01rem 0.01rem 0.01rem 0.15rem;
    border-radius: .1rem;
    display: flex;
    min-width: 8rem !important;
    border-radius: .2rem;
    overflow: hidden;

    .buttonBoxers {
        border-right: thin solid;
        font-size: initial;
    }

    .noticeMainBoxers {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .2rem;
        width: 100%;

        .boxersTuitle {
            font-size: .2rem;
        }

        img {
            width: 5.5rem;
            min-width: 5.5rem;
            max-width: 5.5rem;
            border-radius: .1rem;
        }
    }

    button {
        background-color: rgba(255, 255, 255, 0.186);
        border: none;
        white-space: nowrap;
        width: 2rem;
        overflow: hidden;
        font-size: .18rem;
        color: white;
        text-overflow: ellipsis;
        padding: .08rem;
        cursor: pointer;
        height: .7rem;

    }
}

.vipBody {
    overflow: auto;
    height: 6rem;

    .bipRow {
        &:nth-child(even) {
            background: #202329;
            border-radius: .1rem;
        }
    }

}