.mainLayout {
  height: 100%;
  position: relative;
}
.mainLayout .mainContent {
  height: calc(100vh - 0.8rem);
  display: flex;
}
.mainLayout .mainContent .centerContent {
  height: 100%;
  background-image: url("https://mbp399-5615-ppp.s3.sa-east-1.amazonaws.com/siteadmin/skin/lobby_asset/2-1-7/common/common/bg_pattern_tile.png?manualVersion=1&version=049cb844f0");
  overflow: auto;
  width: 100%;
  background-color: var(--bodyColor);
  background-color: #202329;
}
.mainLayout .mainContent .centerContent .contentContainer {
  width: 100%;
  height: auto;
  min-height: 10.72rem;
}
.mainLayout .mainContent .centerContent .contentContainer .css-128mi5i {
  margin: 0;
}
.mainLayout .mainContent .centerContent .contentContainer section {
  position: relative;
  width: 63vw;
  margin: auto;
  height: 100%;
  font-size: initial;
  z-index: 2;
}
.mainLayout .mainContent .centerContent .contentContainer .circleContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  position: fixed;
  right: 0.2rem;
  bottom: 0.7rem;
  z-index: 1;
}
.mainLayout .mainContent .centerContent .contentContainer .circleContainer .swiperNoSwipingX2 .swiper:hover .swiper-button-prev,
.mainLayout .mainContent .centerContent .contentContainer .circleContainer .swiperNoSwipingX2 .swiper:hover .swiper-button-next {
  display: flex;
}
.mainLayout .mainContent .centerContent .contentContainer .circleContainer .swiperNoSwipingX2 .swiper-button-prev,
.mainLayout .mainContent .centerContent .contentContainer .circleContainer .swiperNoSwipingX2 .swiper-button-next {
  display: none;
}
.mainLayout .mainContent .centerContent .contentContainer .circleContainer .swiperNoSwipingX2 .swiper-button-prev {
  background-color: rgba(171, 171, 171, 0.5098039216);
  height: 0.26rem;
  width: 0.26rem;
  border-radius: 1rem;
  top: 0.74rem;
  border: 0.016rem solid;
  border-color: #fff;
}
.mainLayout .mainContent .centerContent .contentContainer .circleContainer .swiperNoSwipingX2 .swiper-button-prev::after {
  background-color: transparent;
  font-size: 0.15rem !important;
  font-weight: 100;
  padding: 0;
  margin-right: 0.03rem;
}
.mainLayout .mainContent .centerContent .contentContainer .circleContainer .swiperNoSwipingX2 .swiper-button-next {
  background-color: rgba(171, 171, 171, 0.5098039216);
  height: 0.26rem;
  width: 0.26rem;
  border-radius: 1rem;
  top: 0.74rem;
  border: 0.016rem solid;
  border-color: #fff;
}
.mainLayout .mainContent .centerContent .contentContainer .circleContainer .swiperNoSwipingX2 .swiper-button-next::after {
  background-color: transparent;
  font-size: 0.15rem !important;
  font-weight: 100;
  padding: 0;
  margin-left: 0.03rem;
}
.mainLayout .mainContent .centerContent .contentContainer .circleContainer .swiperNoSwipingX2 .imageBoxIndexMain {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}
.mainLayout .mainContent .centerContent .contentContainer .circleContainer .swiperNoSwipingX2 .imageBoxIndexMain .eventImageIndexMain {
  position: relative;
}
.mainLayout .mainContent .centerContent .contentContainer .circleContainer .swiperNoSwipingX2 .imageBoxIndexMain .closeIcon {
  position: absolute;
  top: 0.05rem;
  right: 0;
  cursor: pointer;
  font-size: 0.3rem;
}
.mainLayout .mainContent .centerContent .contentContainer .circleContainer .imageBoxIndexMain {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}
.mainLayout .mainContent .centerContent .contentContainer .circleContainer .imageBoxIndexMain .teleText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainLayout .mainContent .centerContent .contentContainer .circleContainer .imageBoxIndexMain .teleText div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainLayout .mainContent .centerContent .contentContainer .circleContainer .imageBoxIndexMain .teleText div img {
  position: relative;
}
.mainLayout .mainContent .centerContent .contentContainer .circleContainer .imageBoxIndexMain .teleText div div {
  width: 1.5rem;
  word-break: break-all;
}
.mainLayout .mainContent .centerContent .contentContainer .circleContainer .imageBoxIndexMain .teleText div div span {
  color: #fee624;
  -webkit-text-stroke: 0.01rem #4787ff;
  font-size: 0.2rem;
  font-weight: 600;
  text-align: center;
}
.mainLayout .mainContent .centerContent .contentContainer .circleContainer .imageBoxIndexMain .eventImageIndexMain {
  position: relative;
}
.mainLayout .mainContent .centerContent .contentContainer .circleContainer .imageBoxIndexMain .closeIcon {
  position: absolute;
  top: -0.25rem;
  right: 0;
  cursor: pointer;
  font-size: 0.3rem;
}
.mainLayout .mainContent .centerContent .contentContainer .circleContainer .scrolltoTop {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.05rem;
  border-radius: 0.1rem;
  flex-direction: column;
  border: 0.01rem solid #313843;
  background-color: #1c1e23;
  padding: 0.1rem;
  height: 0.78rem;
  width: 0.84rem;
  cursor: pointer;
}
.mainLayout .mainContent .centerContent .contentContainer .circleContainer .scrolltoTop:active {
  scale: 0.9;
}
.mainLayout .mainContent .centerContent .contentContainer .circleContainer .envelopeContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0.55rem;
  bottom: 20vh;
  background: linear-gradient(312deg, #ff7b60, #ff021b);
  border-radius: 0.55rem;
  cursor: pointer;
  height: 3.5rem;
  width: 3.5rem;
  align-items: center;
  justify-content: center;
  top: 46rem;
}
.mainLayout .mainContent .centerContent .contentContainer .circleContainer .envelopeContainer:active {
  scale: 0.9;
}
.mainLayout .mainContent .centerContent .contentContainer .circleContainer .envelopeContainer img {
  height: 0.4rem;
}
@media screen and (max-width: 4.3rem) {
  .mainLayout .mainContent .centerContent .contentContainer .circleContainer .envelopeContainer {
    top: 40rem;
    right: 0.4rem;
    height: 2.5rem;
    width: 2.5rem;
  }
  .mainLayout .mainContent .centerContent .contentContainer .circleContainer .envelopeContainer img {
    height: 0.3rem;
  }
}
.mainLayout .mainContent .centerContent .contentContainer .circleContainer section {
  width: 63vw;
  margin: auto;
  height: 100%;
}
@media screen and (max-width: 4.3rem) {
  .mainLayout .mainContent .centerContent .contentContainer .circleContainer section {
    width: 95%;
  }
}
.mainLayout .mainContent .centerContent .contentContainer .circleContainer .gift-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #ed812d, #feba5a);
  cursor: pointer;
  border-radius: 50%;
  right: 0.55rem;
  bottom: 1rem;
  height: 3.5rem;
  width: 3.5rem;
}
.mainLayout .mainContent .centerContent .contentContainer .circleContainer .gift-container:active {
  scale: 0.9;
}
.mainLayout .mainContent .centerContent .contentContainer .circleContainer .gift-container img {
  position: relative;
  height: 0.4rem;
}
.mainLayout .mainContent .centerContent .contentContainer .circleContainer .turn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2b82eb;
  cursor: pointer;
  border-radius: 50%;
  right: 0.55rem;
  bottom: 2.5rem;
  height: 3.5rem;
  width: 3.5rem;
}
.mainLayout .mainContent .centerContent .contentContainer .circleContainer .turn-container:active {
  scale: 0.9;
}
.mainLayout .mainContent .centerContent .contentContainer .circleContainer .turn-container img {
  position: relative;
  height: 0.4rem;
}
.mainLayout .mainContent .centerContent .contentContainer .circleContainer .chat-room-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(312deg, #8056c3, #c83d75);
  cursor: pointer;
  border-radius: 50%;
  right: 0.55rem;
  bottom: 2.5rem;
  height: 3.5rem;
  width: 3.5rem;
}
.mainLayout .mainContent .centerContent .contentContainer .circleContainer .chat-room-container:active {
  scale: 0.9;
}
.mainLayout .mainContent .centerContent .contentContainer .circleContainer .chat-room-container img {
  position: relative;
  height: 0.4rem;
}
@media screen and (max-width: 4.3rem) {
  .mainLayout .mainContent .centerContent .contentContainer .circleContainer .gift-container {
    bottom: 21vh;
    right: 0.4rem;
    height: 2.5rem;
    width: 2.5rem;
  }
  .mainLayout .mainContent .centerContent .contentContainer .circleContainer .scrolltoTop {
    bottom: 14vh;
    right: 0.4rem;
    height: 2.5rem;
    width: 2.5rem;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.accntActions {
  display: flex !important;
}
.accntActions .css-1dimb5e-singleValue {
  color: #fff;
}
.accntActions .css-10drtbx-MuiButtonBase-root-MuiCheckbox-root {
  color: #fff;
}
.accntActions .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
  color: #fff;
}
.accntActions .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #f0c059;
}
.accntActions .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: #757575;
}
.accntActions .css-bpeome-MuiSvgIcon-root-MuiSelect-icon,
.accntActions .css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  color: #fff;
}
.accntActions .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 0.5rem;
}
.accntActions .css-1nmdiq5-menu {
  background-color: #1c1e23 !important;
  border: thin solid #313843;
  color: #d6d6d6 !important;
  cursor: pointer;
}
.accntActions .css-1nmdiq5-menu .css-d7l1ni-option,
.accntActions .css-1nmdiq5-menu .css-tr4s17-option {
  background-color: rgba(24, 25, 30, 0.5764705882);
}
.accntActions .css-1nmdiq5-menu div {
  cursor: pointer;
}
.accntActions .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: #f0c059;
}
.accntActions .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
  color: #fff;
}
.accntActions .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: #313843;
}
.accntActions .css-1pysi21-MuiFormLabel-root-MuiInputLabel-root {
  color: #313843;
}
.accntActions .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root:hover .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: 0.02rem solid;
  border-color: #f0c059;
}

.noDataAccountDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0 0 0;
}
.noDataAccountDetails .noDataLabel {
  font-weight: 600;
  font-style: italic;
  color: #f0c059;
}

.css-153eyq5-MuiModal-root-MuiDialog-root .MuiDialogActions-root {
  background-color: #1c1e23 !important;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: initial;
}
.pagination svg {
  width: 0.22rem;
  height: 0.22rem;
}
.pagination li button {
  color: white !important;
  font-size: 18px !important;
}
.pagination li .MuiPaginationItem-root {
  color: white;
  font-size: 0.5rem;
}/*# sourceMappingURL=mainLayout.css.map */