.coreWalletSectionContainer {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.coreWalletSectionContainer .coreWallet {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2rem;
  background-color: #1C1E23;
  gap: 0.1rem;
  border-radius: 0.1rem;
}
.coreWalletSectionContainer .coreWallet .titleWing {
  width: 0.5rem;
}
.coreWalletSectionContainer .coreWallet .titleWing:nth-child(3) {
  rotate: 180deg;
}
.coreWalletSectionContainer .coreWallet .coreWalletTitle {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}
.coreWalletSectionContainer .balanceBanner {
  display: flex;
  align-items: center;
  background-color: #1C1E23;
  border-radius: 0.1rem;
  padding: 0.2rem;
  gap: 0.2rem;
}
.coreWalletSectionContainer .balanceBanner .balanceTextBox {
  display: flex;
  align-items: center;
  justify-content: start;
  width: -moz-max-content;
  width: max-content;
}
.coreWalletSectionContainer .balanceBanner .balanceTextBox .balanceTexts {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
  width: -moz-max-content;
  width: max-content;
}
.coreWalletSectionContainer .balanceBanner .balanceTextBox .balanceTexts .balanceText {
  color: #68707B;
  font-size: 0.18rem;
}
.coreWalletSectionContainer .balanceBanner .balanceTextBox .balanceTexts .balanceContent {
  color: #FFAA09;
  font-size: 0.18rem;
}
.coreWalletSectionContainer .balanceBanner .balanceTextBox .balanceTexts .refreshIconUp {
  width: 0.3rem;
  height: 0.3rem;
  color: #f0c059;
  cursor: pointer;
}
.coreWalletSectionContainer .balanceBanner .balanceTextBox .balanceTexts .refreshIconUp.active {
  animation: spin 0.5s linear infinite;
}
.coreWalletSectionContainer .balanceBanner .transferInputContainer {
  width: 100%;
}
.coreWalletSectionContainer .balanceBanner .transferInputContainer .to {
  color: #f0c059;
  font-size: 20px;
}
.coreWalletSectionContainer .balanceBanner .buttonContainer {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.2rem;
}
.coreWalletSectionContainer .balanceBanner .buttonContainer .transferButton {
  background-color: #f0c059;
  color: #874404;
  width: 10rem;
  line-height: normal;
  text-transform: capitalize;
  font-size: 0.18rem;
  height: 0.5rem;
  width: 2rem;
  border-radius: 0.1rem;
}
.coreWalletSectionContainer .balanceBanner .buttonContainer .notice {
  color: #f05959;
  font-style: italic;
  font-size: 0.14rem;
  width: 2rem;
}
.coreWalletSectionContainer .mainContentContainer {
  display: flex;
  gap: 0.2rem;
  margin-bottom: 0.2rem;
}
.coreWalletSectionContainer .mainContentContainer .sideButtonsContainer .sideButtons {
  background-color: #1C1E23;
  width: 0.5rem;
  height: 0.4rem;
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
  border-radius: 7px;
}
.coreWalletSectionContainer .mainContentContainer .sideButtonsContainer .sideButtons.active {
  background-color: #f0c059;
  color: #874404;
}
.coreWalletSectionContainer .mainContentContainer .rightContentConatainer {
  height: auto;
  width: 100%;
  border-radius: 0.1rem;
}
.coreWalletSectionContainer .mainContentContainer .rightContentConatainer .searchBarContainer {
  background-color: #1C1E23;
  border-radius: 7px;
  padding: 0.1rem;
  display: flex;
  gap: 0.2rem;
  margin-bottom: 0.2rem;
}
.coreWalletSectionContainer .mainContentContainer .rightContentConatainer .searchBarContainer .buttonBox {
  display: flex;
  align-items: center;
  justify-content: center;
}
.coreWalletSectionContainer .mainContentContainer .rightContentConatainer .searchBarContainer .buttonBox .searchButton {
  background-color: #f0c059;
  color: #874404;
  font-weight: 600;
  height: 3.3rem;
  width: 10rem;
}
.coreWalletSectionContainer .mainContentContainer .rightContentConatainer .searchBarContainer .css-78me8v-MuiFormControl-root .css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  color: #fff;
  font-weight: 600;
}
.coreWalletSectionContainer .mainContentContainer .rightContentConatainer .searchBarContainer .css-78me8v-MuiFormControl-root .MuiOutlinedInput-notchedOutline {
  border-radius: 1rem;
  border: thin solid #68707B;
}
.coreWalletSectionContainer .mainContentContainer .rightContentConatainer .searchBarContainer .css-78me8v-MuiFormControl-root .Mui-focused .MuiOutlinedInput-notchedOutline {
  border: 2px solid #FFAA09;
}
.coreWalletSectionContainer .mainContentContainer .rightContentConatainer .searchBarContainer .css-78me8v-MuiFormControl-root .css-tzssek-MuiSvgIcon-root {
  color: #68707B;
}
.coreWalletSectionContainer .mainContentContainer .rightContentConatainer .contentScroll {
  height: 60vh;
  overflow: auto;
}
.coreWalletSectionContainer .mainContentContainer .rightContentConatainer .contentScroll .contentBody {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.2rem;
}
.coreWalletSectionContainer .mainContentContainer .rightContentConatainer .contentScroll .contentBody .contentBox {
  display: flex;
  flex-direction: column;
  background-color: #1C1E23;
  border-radius: 0.1rem;
}
.coreWalletSectionContainer .mainContentContainer .rightContentConatainer .contentScroll .contentBody .contentBox .headBox {
  display: flex;
  align-items: center;
  padding: 0.07rem 0 0.03rem 0;
}
.coreWalletSectionContainer .mainContentContainer .rightContentConatainer .contentScroll .contentBody .contentBox .headBox .gameImage {
  width: 0.3rem;
  margin-left: 0.7rem;
}
.coreWalletSectionContainer .mainContentContainer .rightContentConatainer .contentScroll .contentBody .contentBox .headBox .headTitle {
  margin-left: 0.1rem;
  font-size: 0.18rem;
  font-weight: 500;
  color: #fff;
  padding: 0.03rem 0.03rem 0.03rem 0;
}
.coreWalletSectionContainer .mainContentContainer .rightContentConatainer .contentScroll .contentBody .contentBox .contentBody {
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0.3rem;
  height: 0.25rem;
  justify-content: space-between;
}
.coreWalletSectionContainer .mainContentContainer .rightContentConatainer .contentScroll .contentBody .contentBox .contentBody .labelBox {
  display: flex;
  align-items: center;
}
.coreWalletSectionContainer .mainContentContainer .rightContentConatainer .contentScroll .contentBody .contentBox .contentBody .labelBox .contented {
  font-size: 0.25rem;
  height: 0.25rem;
  font-weight: 500;
  color: #ffaa09;
}
.coreWalletSectionContainer .mainContentContainer .rightContentConatainer .contentScroll .contentBody .contentBox .contentBody .iconBox {
  display: flex;
  align-items: center;
}
.coreWalletSectionContainer .mainContentContainer .rightContentConatainer .contentScroll .contentBody .contentBox .contentBody .iconBox .refreshIcon {
  width: 0.25rem;
  height: 0.25rem;
  color: #f0c059;
  cursor: pointer;
}
.coreWalletSectionContainer .mainContentContainer .rightContentConatainer .contentScroll .contentBody .contentBox .contentBody .iconBox .refreshIcon.active {
  animation: spin 0.5s linear infinite;
}
.coreWalletSectionContainer .mainContentContainer .rightContentConatainer .contentScroll .contentBody .contentBox .contentBody .iconBox .css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  padding: 0 !important;
}
.coreWalletSectionContainer .mainContentContainer .rightContentConatainer .contentScroll .contentBody .contentBox .lineDiv {
  border: thin solid #313843;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  padding: 0 !important;
}/*# sourceMappingURL=coreWallet.css.map */