.withdrawMainContainers{
    border-radius: 7px;
    margin-bottom: .2rem;
    .MuiTabs-root {
        button{
            color:white;
            font-size: .2rem;
            text-transform: capitalize;
        }
    }
}