.envelopMainContainer {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: top center;
    border-radius: .1rem;
    padding: .1rem;
    margin-bottom: .2rem;
    background-color: #1c1e23;
    color: #fff;

    .linkBox {
        display: flex;
        gap: .1rem;
        margin-top: .6rem;

        .telegramLabel {
            font-size: .22rem;
            color: #fff;
            line-height: 1.9;
        }

        .telegramLink {
            font-size: .22rem;
            color: #666;
            line-height: 1.9;

            a {
                color: #666;
            }
        }
    }

    .activityContentBox {
        margin-bottom: .5rem;

        .activityContentTitle {
            font-size: .22rem;
            color: #fff;
            line-height: 1.9;

            div {
                p {
                    font-size: .19rem;
                }
            }
        }
    }

    .tableContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .firstRow {
            border: 1px solid;
            border-right: none;
            border-bottom: none;
            border-color: #53575d;

            .rowContent {
                border: none;
                border-bottom: 1px solid;
                padding: .35rem 0.05rem;
                font-size: .2rem;
                color: #a1a3bc;
                border-color: #53575d;
            }

            .rowContentHead {
                font-size: .25rem;
                color: #a1a3bc;
                font-weight: 600;
            }

            .rowContent2 {
                border-right: 1px solid;
                border-color: #53575d;
            }

            .rowEnds {
                display: flex;
                align-items: center;
                height: 2.82rem;
                border: none;
                border-bottom: 1px solid;
                border-color: #53575d;
            }

            .rowEnds2 {
                border-right: 1px solid;
                border-color: #53575d;
            }
        }
    }

    .notesContainer {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: .1rem;

        .note {
            text-align: center;
            font-size: .22rem;
            line-height: 1.5;
            color: #a1a3bc;
        }
    }
}