.bettingHistoryMainContainer{
    display: flex;
    flex-direction: column;

    .filtersInputsContainers{
        background-color: #1C1E23;
        padding: .2rem;
        border-radius: .1rem;
        .searchButton{
            background-color: #f0c059;
            color: #874404;
            height: .40rem;
        }
    }
    .tablesContentsContainers{
        margin-bottom: 1.5rem;
        background-color: #1C1E23;
        padding: .2rem;
        border-radius: .1rem;
        margin-top: .2rem;
    }
}