
.main-invite-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  .taxaTabs{
    color: #fff;
    font-weight: 600;
  }
  .MuiTabs-root{
    button{
        color:white;
    }
    // button[aria-selected="true"]{
    //     color: #f0c059;
    // }
}
  color: gray;
  .invite-header-label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      height: 80px;
    }
    .id-Container {
      display: flex;
      flex-direction: column;
      span {
        span {
          color: white;
        }
      }
    }
    .label-button {
      button {
        padding: 5px;
        color: black;
        background-color: #f0c059;
        border-color: black;
        border-radius: 5px;
      }
    }
  }
  .invite-header-label2 {
    display: flex;
    align-items: center;
  }
  .invite-header {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #1c1e23;
    align-items: center;
    img {
      height: 10px;
      &:nth-child(3) {
        rotate: 180deg;
      }
    }
  }

  .invite-header-label {
    padding: 15px;
    background-color: #1c1e23;
    border-radius: 10px;
    margin-top: 15px;
  }
  .invite-body {
    display: flex;
    margin-top: 0 !important;
    // justify-content: space-between;
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 7px;
    gap: 1.5rem;
    .invite-button-content {
      display: flex;
      padding: 1rem;
      flex-direction: column;
      .commisao-label {
        color: white;
        border-bottom: 1px solid gray;
        padding: 20px;
      }
      .commisao1 {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid gray;
        color: white;
        padding: 20px;
        span {
          color: #f0c059;
        }
      }
      .commisao-content {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        span {
          width: 30%;
          display: flex;
          justify-content: space-between;
          span {
            color: #f0c059;
          }
        }
      }
      .tutorial-container {
        padding: 20px;
        border: 1px solid rgb(61, 60, 60);
        border-radius: 5px;
      }

      .none-list {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      
      .invite-container-label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #202329;
        border-radius: 5px;
        border: 1px solid rgb(61, 60, 60);
        color: white;
        margin-top: 20px;
        font-size: 15px;

        span {
          color: gray;
        }
      }
      .invite-container-label2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        background-color: #202329;
        border-radius: 5px;
        border: 1px solid rgb(61, 60, 60);
        color: white;
        margin-top: 20px;
        font-size: 10px;

        span {
          color: gray;
        }
      }
      #taxa {
        justify-content: space-around;
      }
      .invite-dates-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5%;
        align-items: center;
        width: 100%;
      }
      .invite-dates {
        span {
          input[type="date"] {
            color: white; 
            padding: 15px; 
            border-radius: 5px; 
            cursor: pointer;

          }
          input[type="date"]::-webkit-calendar-picker-indicator {
            background-color: white;
              color: white;
          }
          input {
            padding: 15px;
          }
        }
        .textInput {
          position: relative;
          .search-icon {
            position: absolute;
            right: 10px;
            top: -5px;
            font-size: 30px;
            color: #f0c059;
          }
        }
        span {
          input {
            padding: 15px;
            border-radius: 15px;
            background-color: transparent;
            border: 1px solid gray;
            color: gray;
            margin-right: 10px;
          }
        }
      }
    }
    .invite-button {
      display: flex;
      flex-direction: column;
      background-color: #1c1e23;
      width: 20%;
      gap: 10px;
      text-align: center;
      margin-right: 0 !important;
      padding: 10px 0;
      border-radius: 10px;
      .MuiButton-root {
        color: #adb6c3;
        padding: 15px;
        background-color: transparent;
        border: none;
      }
      .isActive {
        background-color: #f0c059;
        color: white;
      }
      button {
        width: 80%;
        font-size: 12px;
      }
    }
    .invite-button-content {
      width: 55vw;
      background-color: #1c1e23;
      border-radius: 7px;
      .social-icons {
        display: flex;
        gap: 10px;
        #qr {
          margin: 10px;
          height: 20vh;
        }
        .links-social {
          display: flex;
          flex-direction: column;
          padding: 20px 0;
       .socialerroso {
        display: flex;
        justify-content: space-between;
        border-bottom: 4px solid gray;
        padding-bottom: 10px;
        span {
          width: inherit;
          padding: inherit;
          display: flex;
          flex-direction: column;
          border: none;

        }
        img {
          width: 30px;
        }
       }
          span {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            border: 1px solid gray;
            width: 40vw;
            border-radius: 5px;
            color: white;
            margin-top: 20px;
          }
        }
      }
    }
  }
}

.tableBody{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.searchButton{
  min-width: fit-content !important;
}