.datePickerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.datePickerContainer .rdrDateRangeWrapper {
  background-color: rgb(20, 20, 26);
  padding: 0.08rem;
}
.datePickerContainer .rdrDateRangeWrapper .rdrDateDisplayWrapper {
  background-color: #0d0d10;
}
.datePickerContainer .rdrDateRangeWrapper .rdrDateDisplayWrapper .rdrDateDisplayItemActive {
  border: 2px solid;
  border-color: #f0c059;
}
.datePickerContainer .rdrDateRangeWrapper .rdrDateDisplayWrapper .rdrDateDisplayItemActive input {
  background-color: #191b1e;
  border-radius: 3px;
}
.datePickerContainer .rdrDateRangeWrapper .rdrDateDisplayWrapper .rdrDateDisplayItem {
  border: 2px solid;
  border-color: #d8bb7c;
  background-color: #393c43;
  border-radius: 3px;
}
.datePickerContainer .rdrDateRangeWrapper .rdrDateDisplayWrapper .rdrDateDisplayItem input {
  color: #f0c059;
}
.datePickerContainer .rdrDateRangeWrapper .rdrMonthAndYearWrapper button {
  background-color: #d8bb7c;
}
.datePickerContainer .rdrDateRangeWrapper .rdrMonthAndYearWrapper .rdrMonthPicker select {
  color: #fff;
}
.datePickerContainer .rdrDateRangeWrapper .rdrMonthAndYearWrapper .rdrMonthPicker select option {
  color: #000;
}
.datePickerContainer .rdrDateRangeWrapper .rdrMonthAndYearWrapper .rdrYearPicker select {
  color: #fff;
}
.datePickerContainer .rdrDateRangeWrapper .rdrMonthAndYearWrapper .rdrYearPicker select option {
  color: #000;
}
.datePickerContainer .rdrDateRangeWrapper .rdrMonthAndYearWrapper .rdrDay {
  color: #fff;
}
.datePickerContainer .rdrDateRangeWrapper .rdrMonthsVertical .rdrMonth .rdrDays .rdrDay span {
  color: #ffae00 !important;
}
.datePickerContainer .rdrDateRangeWrapper .rdrMonthsVertical .rdrMonth .rdrDays .rdrDay .rdrInRange {
  color: #736342 !important;
}
.datePickerContainer .rdrDateRangeWrapper .rdrMonthsVertical .rdrMonth .rdrDays .rdrDay span {
  color: #fff;
}
.datePickerContainer .rdrDateRangeWrapper .rdrMonthsVertical .rdrMonth .rdrDays .rdrDay .rdrDayEndPreview, .datePickerContainer .rdrDateRangeWrapper .rdrMonthsVertical .rdrMonth .rdrDays .rdrDay .rdrDayStartPreview {
  color: #dea62c !important;
}
.datePickerContainer .rdrDateRangeWrapper .rdrMonthsVertical .rdrMonth .rdrDays .rdrDay .rdrStartEdge, .datePickerContainer .rdrDateRangeWrapper .rdrMonthsVertical .rdrMonth .rdrDays .rdrDay .rdrEndEdge {
  color: #736342 !important;
}
.datePickerContainer .rdrDateRangeWrapper .rdrMonthsVertical .rdrMonth .rdrDays .rdrDayPassive span {
  color: #bfb49d !important;
}
.datePickerContainer .rdrDateRangeWrapper .rdrMonthsVertical .rdrMonth .rdrDays .rdrDayToday .rdrDayNumber span:after {
  background-color: #ecbc55;
}

.modalTitle {
  color: #f0c059;
  font-size: 0.18rem;
}

.modalCloseCalendar {
  color: #f0c059 !important;
}

.css-knqc4i-MuiDialogActions-root .subMitcalendR {
  color: #f0c059;
  font-weight: 600;
  border: thin solid;
}
.css-knqc4i-MuiDialogActions-root .subMitcalendR:hover {
  border: thin solid;
}/*# sourceMappingURL=dateModal.css.map */