@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, "Segoe UI", Arial, Roboto, "PingFang SC", miui, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
    user-select: none;
}

a {
    text-decoration: none;
}

:root {
    --bgColor: #1C1E23;
    --color: #f0c059;
    font-size: calc(100vw /(1920 / var(--theme-rem-unit, 100))) !important;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    display: none;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.3);
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper .css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
    color: #f0c059;
}

.accntActions {
    margin-bottom: 1rem;

    .searchButton {
        height: fit-content;
        width: fit-content;
    }

    display: flex;
    gap: 1rem;

    /* .css-13cymwt-control:hover {
        border: thin solid !important;
        border-color: #f0c059 !important;
        box-shadow: 0 0 0 1px#f0c059 !important;
    }

    .css-t3ipsp-control:hover {
        border: thin solid !important;
        border-color: #f0c059 !important;
        box-shadow: 0 0 0 1px#f0c059 !important;
    }

    .css-t3ipsp-control {
        background-color: #1C1E23 !important;
        border-color: #f0c059;
        box-shadow: 0 0 0 1px#f0c059 !important;
        height: 40px;
        input {
            color: #fff !important;
        }
    } */

    /* .css-1dimb5e-singleValue {
        color: #fff;
    } */

    .css-10drtbx-MuiButtonBase-root-MuiCheckbox-root {
        color: #fff;
    }

    .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
        color: #fff;
    }

    .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
        border-color: #f0c059;
    }

    .css-bpeome-MuiSvgIcon-root-MuiSelect-icon,
    .css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
        color: #fff;
    }

    .css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
        padding: .5rem;
    }

    .css-1nmdiq5-menu {
        background-color: #1C1E23 !important;
        border: thin solid #313843;
        color: #d6d6d6 !important;
        cursor: pointer;

        .css-d7l1ni-option,
        .css-tr4s17-option {
            background-color: #18191e93;
        }

        div {
            cursor: pointer;
        }
    }

    .css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
        color: #f0c059;
    }

    .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
        color: #fff;
    }

    .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
        color: #313843;
    }

    .css-1pysi21-MuiFormLabel-root-MuiInputLabel-root {
        color: #313843;
    }

    .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root:hover {
        .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
            border: 2px solid;
            border-color: #f0c059;
        }
    }
}



.Mui-focused .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-color: #f0c059;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
    color: #f0c059 !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root,
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input,
.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input {
    color: #fff !important;
}

.css-1pysi21-MuiFormLabel-root-MuiInputLabel-root {
    color: #fff !important;
}


.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root,
.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input,
.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon,
.css-bpeome-MuiSvgIcon-root-MuiSelect-icon,
.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input,
.css-1pysi21-MuiFormLabel-root-MuiInputLabel-root {
    color: #fff !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-color: #f0c0599e;
}

.css-igs3ac {
    border-color: #f0c0599e !important;
}

.viewButton {
    background-color: #f0c059 !important;
    color: #874404 !important;
    font-weight: 600 !important;
    font-size: 11px !important;
    line-height: normal !important;
}

.css-19kzrtu {
    padding: 0 !important;
}

.css-19qh8xo-MuiInputBase-input-MuiOutlinedInput-input {
    color: #fff !important;
}

/* .css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input.Mui-disabled {
    -webkit-text-fill-color: #f0c059 !important;
} */

.css-t3ipsp-control {
    background-color: #1C1E23 !important;
    border-color: #f0c059;
    box-shadow: 0 0 0 1px#f0c059 !important;

    input {
        color: #fff !important;
    }

    width: 230px !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-color: #f0c0599e;
}

.Mui-focused .css-1d3z3hw-MuiOutlinedInput-notchedOutline {

    border-color: #f0c059;

}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root,
.css-jedpe8-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input,
.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon,
.css-bpeome-MuiSvgIcon-root-MuiSelect-icon,
.css-1n4twyu-MuiInputBase-input-MuiOutlinedInput-input,
.css-1pysi21-MuiFormLabel-root-MuiInputLabel-root {
    color: #fff !important;
}

/* .css-13cymwt-control {
    background-color: #1C1E23 !important;
    border: thin solid !important;
    border-color: #f0c0599e !important;
    box-shadow: none;
    cursor: pointer;
    height: 40px;
    width: 230px !important;
} */

/* .css-13cymwt-control:hover{
    border: thin solid !important;
    border-color: #f0c0599e !important;
    box-shadow: 0 0 0 1px#f0c059 !important;
} */

.css-t3ipsp-control {
    background-color: #1C1E23 !important;
    border: thin solid !important;
    border-color: #f0c0599e !important;
    box-shadow: none;
    cursor: pointer;
    height: 40px;
}

/* .css-t3ipsp-control:hover{
    border: thin solid !important;
    border-color: #f0c059 !important;
    box-shadow: 0 0 0 1px#f0c059 !important;
} */

.css-1nmdiq5-menu {
    background-color: #1C1E23 !important;
    border: thin solid #313843;
    color: #d6d6d6 !important;
    cursor: pointer;

    .css-d7l1ni-option,
    .css-tr4s17-option {
        background-color: #18191e93;
    }

    div {
        cursor: pointer;
    }
}

.css-d7l1ni-option {
    background-color: #18191e93 !important;
}

.muiButton {
    font-weight: 600 !important;
    line-height: normal !important;
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    background-color: #1C1E23 !important;
    border: thin solid #313843;
    color: #b3b3b3 !important;
}

.css-153eyq5-MuiModal-root-MuiDialog-root .MuiDialogActions-root {
    background-color: #17191d !important;
}

.css-4pp0nb-MuiPaper-root-MuiDialog-paper {
    background-color: #202329 !important;
}

.css-1s7a4wy {
    background-color: #1C1E23 !important;
    border: thin solid #515151 !important;
    color: #ADB6C3 !important;

    li {
        color: white !important;
    }
}

/* .css-1t1j96h-MuiPaper-root-MuiDialog-paper{
    max-width: fit-content !important;
} */
.css-1hb7zxy-IndicatorsContainer{
    svg{
        height: .22rem !important;
        width: .22rem !important;
    }
}
button{
    text-transform: capitalize;
}
.Toastify__toast-container {
    width: 100% !important;
    height: 100% !important;
    display: flex;
font-size: initial;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    top: auto !important;
    left: auto !important;
    right: auto !important;
    bottom: auto !important;
    transform: translateX(0) !important;
}
.Toastify__toast-container .Toastify__toast {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2rem;
    background-color: #fff !important;
    gap: .2rem;
    border-radius: .1rem;
    width: 5.5rem !important;
    min-width: fit-content;
    margin: .2rem;
}
.Toastify__toast-container {
    font-size: .2rem !important;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    transform:translateX(0) ;
}

.Toastify__toast-theme--colored.Toastify__toast--error {
    color: var(--toastify-text-color-error);
    background: white !important;
    color: #e74c3c !important;
   
}
.Toastify__toast-theme--colored.Toastify__toast--error div {
   font-size: .2rem !important;
}
.Toastify__toast-icon{
    width: .3rem !important;
}
.Toastify__close-button{
    display: none !important;
}

input{
    line-height: normal !important;
}
.Toastify{
    z-index: 99999999999;
    position: relative;
}